/* sections are divided with line breaks; styling is in order of appearance in HTML */
:root{
    --gray: #606976;
    --neutral-dark: #1f2937;
    --dark-blue: #1f2937;
    --rich-blue: #3382f6;
    --rich-blue-dark: #0853c4;
    --white-purple: #d2d2df;
    --accented-white: #f9faf8;    
}
body{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box !important;
    font-size: 62.5%;
    margin: 0px;
}

/* elements and generic classes*/
a{text-decoration: none; color: inherit;}
a:hover, a:active{
    color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--underline-color);
}
p, figcaption{line-height: 1.5;}
a[role="button"]{
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
}
img{
    width: 100%; 
    height: 100%;
}
.center-block{
    margin: 0px auto;
    width: 85%;
}
.center-text{text-align: center;}

/* banner section */
.hero{
    background-color: var(--dark-blue);
    /* gradient by https://mycolor.space */
    background-image: linear-gradient(to right bottom, #1f2937, #222e3f, #253346, #29394e, #2c3e56, #2d435b, #2d4760, #2e4c65, #2d5267, #2f5769, #325c69, #37616a);
}
.hero::after{
    content: url("./media/wave.svg");
    background-color: white;
}
/* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 30px;
    font-size: 1.5rem;
}
nav h2 {color: var(--accented-white); margin-bottom: 5px;}
nav ul{
    --underline-color: var(--white-purple);
    color: var(--white-purple);
    display: inline-flex;
    flex-flow: row wrap;
    list-style: none;
    column-gap: 40px;
    row-gap: 20px;
}
/* menu icon to display navigation links (this shows up on phone sizes) */
a[href="#nav-links"]{display: none; border-bottom: none;}
@media (max-width: 800px) {
    .menu-svg{
        display: inline-block;
        justify-self: flex-end;
    }
    .menu-svg>svg {
        width: 2rem;
        height: 2rem;
    }
    #nav-links {display: none;}
    #nav-links:target{
        display: block;
        position: absolute;
        top: 5rem;
        right: 7.5%;
        margin: 0px;
        list-style: "-   " inside;
        background-color: black;
        padding: 1rem;
        box-shadow: -5px 10px 10px 6px #29293de1;
    }
    #nav-links>li{
        margin: 1rem;
    }
}
/* navbar end & header start*/
.hero-main{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
}
.hero-main>*{
    flex: 1 1 400px;
    max-width: 100%;
}
header h1{
    color: var(--accented-white);
    font-size: 4rem;
}
header :is(p, a){
    font-size: 1.4rem;
}
header p{
    color: var(--white-purple);
}
header a[role="button"]{
    color: var(--accented-white);
    background-color: var(--rich-blue);
}
header a[role="button"]:is(:hover, :active) {
    background-color: var(--rich-blue-dark);
}
.hero-main figure {
    margin-top: 10px;
}
.hero-main img{
    min-height: 300px;
    object-fit: cover;
    object-position: left center;
}
/* header end */

/* photo submissions */
.submissions{
    position: relative;
    top: -10vw;
}
.submissions h2{
    color: var(--neutral-dark);
    font-size: clamp(2.8rem, 5vw, 6rem);
}
.submissions .photos{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 30px;
}
.submissions .photos>figure{
    flex: 1 1 260px;
}
.submissions .photos img{
    border: 4px solid var(--rich-blue-dark);
    border-radius: 20px;
    height: 260px;
    object-fit: cover;
}
.submissions .photos figcaption{
    text-align: center;
    font-size: 1.2rem;
    color: var(--gray);
    padding: 10px 0px;
}
.submissions .photos figcaption a{
    color: var(--rich-blue-dark);
    --underline-color: var(--rich-blue-dark);
}